@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&family=Roboto&family=Roboto+Slab&display=swap');
:root {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header,
.logo,
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.logo {
  padding-top: 10px;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h1{
  color:#064e3b;
  font-size: 1.5em;
}

.searchBar {
  border: 1px solid black;
  border-radius: 20px;
  height: max-content;
  padding-left: 10px;
  width: 350px;
}

.searchBar label {
  display: none;
  margin-right: 10px;
}

.searchBar input {
    padding-left: 10px;
  font-size: 15px;
  float: left;
  width: 85%;
}

.searchBar input, 
.searchButton {
  border: none;
  outline: none;
}

.searchButton {
  float: left;
  width: 15%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 19px;
}

.searchButton i {
  font-size: 25px;
  background-color: transparent;
  color: #064e3b;
}

.searchButton i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.signup-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.signup-section i {
  font-size: 20px;
}

.signup-section i:hover,
.signup-section i:focus {
  color: #064e3b;
}

.signup span {
  border-left: 2px solid black;
  margin: 0 5px;
}

a {
 text-decoration: none;
 color: black;
}

a:hover {
  color: #064e3b;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
  background-color: #064e3b;
}

.navigation a {
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.navigation a:hover {
  color: #064e3b;
  background-color: white;
  transition: scale(1.05);
}

.homepage {
  display: flex;
  height: 60vh;
  padding-left: 50px;
  padding-right: 10px;
}

.leftside {
  width: 50%;
  align-self: center;
}
.leftside h1 {
  font-size: 1.5em;
  font-family: Roboto;
}

.leftside h1 span {
  font-size: 0.7em;
  display: block;
  text-align: end;
  font-style: italic;
}

.leftside button {
  padding: 10px 20px;
  border: none;
  background: #064e3b;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.leftside button:hover {
  background: rgb(232, 227, 227);
  color: #064e3b;
  transform: scale(1.07);
  cursor: pointer;
}

.rightside {
  width: 50%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-image: url('../src/assets/homepage.jpg');
}

.sections {
  background-color: #bbf7d0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(224, 221, 221, 0.1);
  transition: transform 0.3s;
}

.sections:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.sections img {
  width: 120px;
  height: 70%;
  border-radius: 5px;
}

.sections p {
  font-size: 0.7em;
  font-weight: bold;
  color: #064e3b;
}

.homeBooks {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 20px 50px;
  background-color: #064e3b;
}